extends layout

block content
    //h1= title
    //p Welcome, Enjoy Shoppping!!!!

    // Wrapper
    #wrapper
     //#logo
     //   img(src='/images/ecomm.jpg')
     // TOP PRODUCT LIST
     h2 Top Products
     #topproductList
         table
             thead
                 th Title
                 th Price
                 th Availability
             tbody
     // /TOP PRODUCT LIST
    // /WRAPPER
    #footer
        div Copyright© Ecomm #{+new Date().getFullYear()}  
        a(href='/#') About 
        | |  
        a(href='/#') Contact Us