extends layout

block content
    // Wrapper
    #wrapper
        // PRODUCT LIST
        h1 Product List
        #productList
            table
                thead
                    th Title
                    th Price
                    th Availability
                tbody
        // /PRODUCT LIST
    // /WRAPPER